<div class="d-flex mb-3">
  <h4 class="card-title"><%= @course.title %></h4>
  <div class="ml-auto">
    <%= link_to 'Back', student_courses_path, class: 'btn btn-outline-primary' %>
  </div>
</div>
<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<p>
  <strong>Start Time:</strong>
  <%= @course.start_time.strftime("%I:%M %p") %>
</p>
<p>
  <strong>End Time:</strong>
  <%= @course.end_time.strftime("%I:%M %p") %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @course.notes %>
</p>
