<!DOCTYPE html>
<html>
  <head>
    <title>UniversityManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/navigation' %>
    <%= render 'shared/flash_messages' %>
    <div class="container pt-5 pb-5">
      <%= yield %>
    </div>
  </body>
</html>
